
body {
  background: #f4f2ec url(../images/fundo.png) repeat-x;
  font: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

a:link, :active, a:visited {
  color: #af670a;
  text-decoration: none;
}

a:hover {
  color: #227115;
}

header {
  width: 1080px;
  margin: 0 auto;
  padding: 15px 0;
  height: 55px;
}

/* Configurações de logo */
#logo a {
  width: 248px;
  height: 21px;
  text-indent: -9999px;
  display: block;
  background: url(../images/logo.png) no-repeat;
}

#logo h1 {
  float: left;
}

/* Configurações da barra de navegação(cabeçalho) */
header nav ul {
  list-style: none;
  margin: 20px;
  float: right;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  margin-right: 25px;
  padding-bottom: 3px;
  text-transform: uppercase;
}

header nav ul li a:hover {
  border-bottom: 1px solid #535858;
}

/* Configurações da área main */
#principal {
  width: 1080px;
  margin: 0 auto;
}

#principal #conteudo {
  width: 710px;
  float: left;
  background: green;
}

/* Formatação da área aside */
#principal aside {
  width: 350px;
  float: right;
  background: #ebe7dd;
  padding-bottom: 30px;
}

#principal aside #visita {
  background: #cdc8b1;
  padding: 10px 27px 27px 27px;
  margin-top: 10px;
}

#principal aside h4 {
  color: #86521a;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 0;
}

/* Formularios */
#principal aside #visita input {
  height: 20px;
  width: 80px;
  background: #ffffff;
  border: none;
  font-size: 1em;
}

#principal aside #visita fieldset {
  border: none;
}

#principal aside #visita legend {
  display: none;
}

#principal aside #visita input.campo {
  border: 1px solid #ada484;
}

#principal aside #visita input#qtd {
  width: 30px;
}

#principal aside #visita input.botao {
  background: #9b9271;
  color: #ffffff;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

/* Formatação da galeria */
#principal aside #galeria {
  padding: 0 27px;
}

#principal aside #galeria a {
  display: block;
  background: url(../images/fundo-foto.png) no-repeat;
  float: left;
  padding: 15px;
  padding-bottom: 18px;
  margin: 10px 0 0 20px;
}

#principal aside #galeria a img {
  height: 93;
  width: 93;
  margin-left: 2px;
  margin-top: 3px;
}